
body{
    font-family: "Kantumruy Pro", system-ui;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

#navbar-CTA {
    margin-right: 40px;
    margin-left: auto;
}

#navbar-CTA button {
    background-color: #FFE18D;
}

.navbar-collapse #navbar-CTA {
    display: none;
}

.dropdwon #user-menu {
    display: none;
}

.user-account-icon-btn {
    display: none;
}
#Hero-button{
    background-color: #FFE18D;
    text-transform: uppercase;
}

#hero-wrapper {
    background-image: url(../images/backpacking_friends_depositphotos-768x432.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    position: relative;
    z-index: 1;
}
#hero-wrapper::before {
    background: linear-gradient(to right, #06576A 30%, transparent 100%);
    content: "";
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: -1;
}
 h1{
    font-family: "Kanit",system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }
 h2{
    font-family: "Kanit",system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }
@media (min-width: 992px) {
    #navbar-CTA {
        display: none;
    }
    
    .navbar-collapse #navbar-CTA {
        display: flex;
    }

    .navbar-collapse #navbar-CTA button {
        width: max-content;
    }
    #user-menu {
        display: flex;
    }

    .user-account-icon-btn {
        display: block;
    }

    .menu-account-btn {
        display: none;
    }
}

@media (max-width: 992px) {
    #hero-wrapper::before {
        background: linear-gradient(to bottom, #06576A 30%, transparent 100%);
        content: "";
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        z-index: -1;
}
}